img.catalog-img{
  object-fit: contain;
  height: 70%;
}

img.cart-img{
  object-fit: contain;
  height: 25vh;
}

.product-detail-modal {
  background-color: rgba(0, 0, 0, 0.4);
}

.back {
  font-size: 1.5rem;
}

.arrow:focus,
.minus:focus,
.plus:focus{
    outline: none;
}

.product-card {
  cursor: pointer;
}

.product-card {
  transition: all 0.3s ease;
}

.product-card:hover{
  transform: translate(0px, -10px);
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
